blockquote { 
  font-style: normal;
  border: 4px solid #e4e4e4;
  border-left: 4px solid #e8e8e8;
  -webkit-border-top-right-radius: 12px;
  -webkit-border-bottom-right-radius: 12px;
  -moz-border-radius-topright: 12px;
  -moz-border-radius-bottomright: 12px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  /** https://s2.hdslb.com/bfs/static/blive/blfe-dynamic-web/static/css/vendor.a0893befabd96097ede068192120bacc.css .content-ellipsis **/
  /** display: -webkit-box; **/
  /** text-overflow: ellipsis; **/
  word-break: normal;
  word-wrap: break-word;
  /** end **/
  color: inherit;
}
.user-avtr {
  border-radius: 50%;
  display: block;
  width: 48px;
  height: 48px;
  top: 24px;
  left: 24px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.user-name {
  color: #222;
  margin: 0;
  padding: 0;
  letter-spacing: 0;
  font-size: 16px;
  display: inline-block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
